// Type

.edge-padding {
  padding: 0 20px;
}
.vertical-padding(@size) {
	padding-top: @size;
	padding-bottom: @size;
}
.button {

}
.nav-button, .button {
	background-color: darken(@background-color, 20%);
	background: rgba(0, 123, 163, 0.8);
	border: none;
	border-radius: 5px;
	color: #fff;
	display: block;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 0px 13px #000;
	// background: #352300;
}
